 
 
 
.doctors {
    display: flex;
    gap: 20px;
    padding: 20px;
      margin-top: 170px;
}

 
.doc-sidebar {
    width: 20%;
    min-height: 50vh;
    padding: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    font-size: 18px;
}
.doctor-appointment-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.doc-details {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    gap: 25px;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.doc-details:hover {
    transform: translateY(-3px);
}
.doc-img img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.doc-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.doc-info p {
    font-weight: 700;
    font-size: 22px;
}
.doc-info h5 {
    font-weight: 700;
    font-size: 16px;
    color: #555;
}
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
  
    padding: 10px;
    border-radius: 10px;
    background-color: #EDDCC6;
    margin: 8px 0;
}
.radio input[type="radio"] {
    margin-top: 2px;
    width: 18px;
    height: 18px;
}
.radio label {
    font-size: 16px;
    color: #333;
      font-weight: 700;
}
.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
    font-size: 16px;
   
}
.contact-info p {
    font-weight: 700;
    font-size: 16px;
    color: #555;
}
.call {
    padding: 7px 12px;
    background-color: #576A8F;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
}
.call img {
    width: 16px;
    height: 16px;
}
.call:hover {
    background-color: #45a049;
}
.appoint-doc {
    display: flex;
    gap: 15px;
    margin-top: 12px;
}
.appoint-doc button {
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s;
}
 
.appoint-doc button:hover {
    background-color: #007bb5;
}
@media (max-width: 900px) {
    .doctors {
        flex-direction: column;
    }

    .doc-sidebar {
        width: 100%;
        min-height: auto;
    }

    .doc-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .doc-info {
        align-items: center;
    }

    .contact-info {
        flex-direction: column;
        gap: 8px;
    }

    .appoint-doc {
        flex-direction: column;
        gap: 8px;
    }
}
