.confirm {
    margin-top: 170px;
    border-top: 1px solid transparent;
}

.doc-appoiont-confirm {
    width: 80%;
   margin-top: 50px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    position: relative;
}
 
.doc-appoiont-confirm::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;

    height: 4px;
    background-color: #e0e0e0;
    z-index: 1;
}
.doc-appoiont-confirm .circle-1,.doc-appoiont-confirm .circle-2,.doc-appoiont-confirm .circle-3{
 width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c8e6c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #1b5e20;
    transition: 0.3s;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.doc-appoiont-confirm .circle-3{
    background-color:#FF5B5B;
    color: #FFCE99;
}
.confirm h4 {
    width: 95%;
    margin: 30px auto 10px auto;
    font-size: 22px;
    font-weight: bold;
    color: #274b8f;
    text-align: center;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}

 
.confirm h4::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #FF5B5B;
    margin: 8px auto 0 auto;
    border-radius: 5px;
}

 
.Appointment-Summary {
    width: 95%;
    margin: 30px auto;
    display: flex;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

 
.Appointment-Summary > div {
    flex: 1;
    border-right: 1px solid #cfcfcf;
}

 
.Appointment-Summary > div:last-child {
    border-right: none;
}

 
.Appointment-Summary h5 {
    background-color: #274b8f;
    color: white;
    padding: 15px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

 
.Appointment-Summary p {
    background-color: #ffff;
    padding: 18px 15px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
}

 
.amount p {
    font-weight: bold;
    color: #274b8f;
}
