@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}

.navbar {
    width: 100%;
    height: 170px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    position: fixed;    
    top: 0;
    left: 0;
    z-index: 1000; 
}
.nav-one {
    height: 80px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}

.nav-one img {
    height: 45px;
    cursor: pointer;
}
.nav-components {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-components p {
    font-size: 15px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.nav-components p:hover {
    color: #00bcd4;
}
.nav-components button {
    padding: 10px 20px;
    background: #00bcd4;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-components button:hover {
    background: #0097a7;
    transform: translateY(-2px);
}

 
.nav-two {
    height: 90px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9fbfd;
     
}
.book h4,
.treat-patient h4,
.question h4,
.surgery h4,
.feed h4{
    font-weight: 500;
}

.book,
.treat-patient,
.question,
.surgery,
.feed {
    display: flex;
     
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.book img,
.treat-patient img,
.question img,
.surgery img,
.feed img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.book:hover,
.treat-patient:hover,
.feed:hover,
.question:hover,
.surgery:hover {
    background-color: #e6f7fa;
    transform: translateY(-3px);
}