.personalinfo{
    margin-top: 170px;
}
.doc-appoiont-schedules {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

 .doc-appoiont-schedules::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
     
    height: 4px;
    background-color: #e0e0e0;
    z-index: 1;
  
}

.doc-appoiont-schedules .circle-1,.doc-appoiont-schedules .circle-2,.doc-appoiont-schedules .circle-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c8e6c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #1b5e20;
    transition: 0.3s;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.doc-appoiont-schedules .circle-2{
    background-color:#FF5B5B;
    color: #FFCE99;
}
.schedule-appointment,
.patient,
.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-appointment p,
.patient p,
.confirmation p {
    margin-top: 10px;
    font-weight: 600;
    color: #333;
}